.wrapper {
  text-align: center;
  display: flex;
  width: 600px;
  height: 800px;
  position: relative;
  flex-direction: column;
  margin: auto;
}
/* nav styling */
.nav-wrapper {
  text-align: center;
  display: flex;
  background-color: lightblue;
  width: 600px;
  height: 100px;
  position: relative;
  display: flex;
  flex-direction: row;
}
/* main sliding component styling */
.main-wrapper {
  background-color: lightpink;
  height: 600px;
  width: 600px;
  position: relative;
  display: flex;
  flex-direction: row;
  text-align: center;
  overflow: hidden;
}

.collection-wrapper {
  background-color: lightblue;
  width: 400px;
  height: 400px;
  display: flex;
  position: relative;
  margin: auto;
  text-align: center;
  overflow: hidden;
  align-self: flex-end;
  /* flex: 0 0 300px; */

}

#img-wrapper
 {
  width: 500px;  
  min-width: 500px;
  position: relative;
  overflow: hidden;
  background-color: white;
  margin: auto;
}


/* #selected-collection-img {
  width: 500px;
} */


/* footer styling */
.footer-wrapper {
  background-color: lightblue;
  height: 100px;
  width: 600px;
  position: relative;
  flex-direction: row;
  text-align: center;
  display: flex;
}

/* fade in component styling */

.playlists-wrapper {
  height: 600px;
  width: 600px;
  min-width: 600px;
  text-align: center;
  background-color: lightyellow;
  flex-direction: row;
  overflow: hidden;
  align-self: flex-end;
  display: flex;
  margin: auto;
  /* align-self: center; */
}

.single-playlist {
  height: 500px;
  width: 400px;
  min-width: 400px;
  text-align: center;
  background-color: lightpink;
  display: flex;
  position: relative;
  margin: 0;
}

.sing-playlist {
  text-align: center;
  height: 100px;
  width: 400px;
  min-width: 400px;
  max-height: 100px;
  position: relative;
  margin: auto;
}